body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
    overflow-x: hidden;
    vertical-align: middle;
    width: 100%;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

button {
    background-color: #666;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    font-size: 18px;
}

section {
    padding: 4em;
}

.content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    min-height: 45vh;
    line-height: 20px;
    max-width: 175vh; /* Adjusted value */
    margin-left: 13%;
    width: 60%;
    margin: 20px auto 100px;
    overflow: hidden;
}

main {
    overflow: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: static;
    min-height: 10vh;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
}

/* Hide the menu by default */
#popupMenu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#popupMenu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}

#popupMenu a:hover {
    background-color: #555;
}

/* Show the menu when it has the 'show' class */
#popupMenu.show {
    display: block;
}



/*Tools for future use*/


/* Images: */

.picRight{
    
    float: right;
    margin-left: 80px;
    margin-bottom: 100px;  

    max-width: 60%;
    max-height: 60%;
    
}


.picRight2{
    
    float: right;
    margin-left: 80px;
    margin-bottom: auto;  

    max-width: 70%;
    max-height: 70%;
    
}


.picsCenter{
    display: flex;
    flex-direction: column; /* Display elements in a column */
    align-items: center;

    max-width: 700px;
    max-height: 600px;
    margin: 10px;
}


.picLeft{
    float: left;
    margin-bottom: 100px;  
    margin-right: 80px;

    max-width: 50%; /*600px*/
    max-height: 50%;
    
}



.picLeft2{
    float: left;
    margin-bottom: 20px;  
    margin-right: 80px;

    max-width: 70%; /*600px*/
  
    
}


.caption{
    float: inline-start;
    align-items: center;
}

.maxSize{
    max-width: 40%;
    max-height: 40%;/*500px*/
    margin: auto;
    
}

/*Add more tools*/

/* Temporary for week1 to add padding for pictures. Currently not in use **** */
.size{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    min-height:45vh;
    min-height:45svh;
    line-height: 20px;
    max-width: 175svh;
    margin-right: auto;
    padding-bottom: 150%;
}

.figLeft{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    overflow: hidden;

}

.listSpacing{
    line-height: 28px;
}

.textAlignInitial{
    text-align: left;
}


code {
    background-color: #e0e0e0;
    padding: 4px 6px;
    border-radius: 4px;
    font-family: Consolas, monospace;
    color: #333;
}

.picLeft3{
    float: left;
    margin-bottom: 100px;  
    margin-right: 80px;

    max-width: 37.5%; /*600px*/
    max-height: 50%;
    
}

.picRight3{
    float: right;
    margin-bottom: 100px;  
    margin-left: 80px;

    max-width: 37.5%; /*600px*/
    max-height: 50%;
    
}

.downloadLink .downloadButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.downloadLink .downloadButton:hover {
    background-color: #45a049;
}